*,:after,:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #fc6;
}

::selection {
  background: #fc6;
}

body,html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #444452;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

body a,html a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: #36363c;
}

body ul,html ul {
  list-style: none;
  padding: 0;
}

body strong,html strong {
  font-weight: 700;
  color: #36363c;
}

body .section,html .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 170px;
}

@media screen and (max-width:1280px) {
  body .section,  html .section {
    padding: 100px;
  }
}

@media screen and (max-width:1024px) {
  body .section,  html .section {
    padding: 50px;
  }
}

@media screen and (max-width:768px) {
  body .section,  html .section {
    display: block;
  }
}

@media screen and (max-width:480px) {
  body .section,  html .section {
    padding: 50px 35px;
  }
}

.section__background__portrait {
  width: 65px;
  height: 100px;
  margin-top: 20px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@media screen and (max-width:768px) {
  .section__background__portrait {
    display: none;
  }
}

body .section__title,html .section__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 200px;
  margin-right: 70px;
  color: #329cac;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width:1024px) {
  body .section__title,  html .section__title {
    margin-right: 50px;
  }
}

@media screen and (max-width:850px) {
  body .section__title,  html .section__title {
    width: 150px;
  }
}

@media screen and (max-width:768px) {
  body .section__title,  html .section__title {
    text-align: left;
    width: auto;
  }
}

body .section__content,html .section__content {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 650px;
}

@media screen and (max-width:768px) {
  body .section__content,  html .section__content {
    padding-top: 30px;
    padding-left: 50px;
  }
}

@media screen and (max-width:480px) {
  body .section__content,  html .section__content {
    padding-left: 30px;
  }
}

body .section__content p,html .section__content p {
  margin-top: 0;
  margin-bottom: 25px;
}

body .section__content .underline-link,html .section__content .underline-link {
  position: relative;
  display: inline-block;
}

body .section__content .underline-link:after,html .section__content .underline-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #36363c;
  content: '';
  opacity: 0;
  -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
  transition: height .3s, opacity .3s, -webkit-transform .3s;
  transition: height .3s, opacity .3s, transform .3s;
  transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

body .section__content .underline-link:focus:after,body .section__content .underline-link:hover:after,html .section__content .underline-link:focus:after,html .section__content .underline-link:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

body .arrow-link,html .arrow-link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
}

body .arrow-link:after,html .arrow-link:after {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  bottom: 2px;
  margin-left: 15px;
  content: '';
  background: url(../images/Icon_Arrow.png) no-repeat center;
  background-size: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

body .arrow-link:hover:after,html .arrow-link:hover:after {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
}

body .small,html .small {
  font-family: Inconsolata, monospace;
  font-size: .85rem;
  display: inline-block;
  margin-top: 15px;
}

body .small:after,html .small:after {
  display: none;
}

body #top-button,html #top-button {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: 0 0;
  border: none;
  outline: 0;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width:1024px) {
  body #top-button,  html #top-button {
    bottom: 20px;
    right: 7px;
    width: 35px;
  }
}

@media screen and (max-width:480px) {
  body #top-button,  html #top-button {
    bottom: 15px;
    right: 3px;
  }
}

body #top-button:focus,body #top-button:hover,html #top-button:focus,html #top-button:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

body #top-button img,html #top-button img {
  width: 100%;
}

.intro {
  padding: 120px 50px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width:630px) {
  .intro { 
    padding: 120px 70px;
  }
}

@media screen and (max-width:550px) {
  .intro {
    padding: 120px 50px;
  }
}

@media screen and (max-width:480px) {
  .intro {
    padding: 70px 50px;
  }
}

.intro__hello,.intro__tagline {
  font-size: 2.5rem;
}

.intro__tagline {
  font-family: 'Merriweather', serif;
}

@media screen and (max-width:1024px) {
  .intro__hello,  .intro__tagline {
    font-size: 2.25rem;
  }
}

@media screen and (max-width:768px) {
  .intro__hello,  .intro__tagline {
    font-size: 2rem;
  }
}

@media screen and (max-width:550px) {
  .intro__hello,  .intro__tagline {
    font-size: 1.75rem;
  }
}

@media screen and (max-width:360px) {
  .intro__hello,  .intro__tagline {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:330px) {
  .intro__hello,  .intro__tagline {
    font-size: 1.4rem;
  }
}

.intro__hello {
  font-weight: 300;
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wave {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.intro__wrap {
  position: relative;
}

.intro__wrap .intro__icon {
  float: right;
}

.intro__wrap .intro__tagline {
  line-height: 50px;
}

@media screen and (max-width:550px) {
  .intro__wrap .intro__icon {
    float: none;
    display: none;
  }
}

.intro__tagline {
  font-weight: 300;
  max-width: 700px;
  position: relative;
}

.intro__tagline .name {
  font-weight: 700;
}

@media screen and (max-width:900px) {
  .intro__tagline {
    max-width: 500px;
  }
}

.intro__icon {
  width: 300px;
  border-radius: 50%;
}

.intro__contact {
  font-size: 1.25rem;
  font-weight: 400;
}

@media screen and (max-width:550px) {
  .intro__contact {
    font-size: 1rem;
  }
}

.intro__contact .highlight-link {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -3px 0 #329cac;
  box-shadow: inset 0 -3px 0 #329cac;
}

.intro__contact .highlight-link:hover {
  -webkit-box-shadow: inset 0 -33px 0 0 #329cac;
  box-shadow: inset 0 -33px 0 0 #329cac;
  color: #fff;
}

.skills .skillz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width:630px) {
  .skills .skillz {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:630px) {
  .skills .skillz__category {
    width: 47%;
    margin-right: 5px;
    margin-bottom: 25px;
  }
}

.skills .skillz__category__label {
  font-weight: 700;
  color: #36363c;
  text-transform: uppercase;
}

.skills .skillz__category__item {
  margin: 3px 0;
  font-size: .9rem;
}

.experience .arrow-link {
  font-size: 1.25rem;
}

.experience .arrow-link:after {
  width: 20px;
  height: 20px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(.1, .1);
    transform: scale(.1, .1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(.1, .1);
    transform: scale(.1, .1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.featured-projects a:after {
  display: none;
}

.featured-projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  margin-left: -5%;
  width: 125%;
}

@media screen and (max-width:1280px) {
  .featured-projects .project {
    width: 115%;
  }
}

@media screen and (max-width:1024px) {
  .featured-projects .project {
    width: 105%;
  }
}

@media screen and (max-width:768px) {
  .featured-projects .project {
    width: 100%;
    display: block;
    margin-bottom: 70px;
  }
}

.featured-projects .project:last-of-type {
  margin-bottom: 0;
}

.featured-projects .project__pic {
  max-width: 700px;
  overflow: visible;
  margin: 0;
}

.featured-projects .project__pic a {
  display: block;
}

.featured-projects .project__pic img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

.featured-projects .project__caption {
  width: 200px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 30px;
}

@media screen and (max-width:768px) {
  .featured-projects .project__caption {
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }
}

.featured-projects .project__name {
  margin-bottom: 10px;
}

.featured-projects .project__name a {
  font-weight: 700;
}

.featured-projects .project p {
  font-size: .85rem;
  line-height: 1.3;
}

.project__name a {
  color: #329cac;
}

.footer {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width:1024px) {
  .footer {
    padding: 50px;
  }
}

@media screen and (max-width:630px) {
  .footer {
    display: block;
  }
}

@media screen and (max-width:480px) {
  .footer {
    padding: 50px 30px;
  }
}

.footer__copyright {
  font-weight: 700;
  width: 200px;
}

@media screen and (max-width:630px) {
  .footer__copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}

@media screen and (max-width:630px) {
  .footer__copyright .bottom,  .footer__copyright .top {
    display: inline-block;
  }
}

@media screen and (max-width:480px) {
  .footer__copyright .bottom,  .footer__copyright .top {
    display: block;
  }
}

@media screen and (max-width:630px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__links a {
  position: relative;
  display: inline-block;
  color: #329cac !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}

@media screen and (max-width:1024px) {
  .footer__links a {
    margin: 0 10px;
  }
}

.footer__links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #329cac;
  content: '';
  opacity: 0;
  -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
  transition: height .3s, opacity .3s, -webkit-transform .3s;
  transition: height .3s, opacity .3s, transform .3s;
  transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media screen and (max-width:850px) {
  .footer__links a:after {
    display: none;
  }
}

.footer__links a:focus:after,.footer__links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer__links a .text {
  font-size: .9rem;
  display: inline;
  letter-spacing: 1px;
}

@media screen and (max-width:850px) {
  .footer__links a .text {
    display: none;
  }
}

.footer__links img {
  display: none;
  width: 22px;
}

.footer__links svg {
  display: none;
  width: 22px;
}

@media screen and (max-width:850px) {
  .footer__links svg {
    display: inline-block;
  }
}